* {
    box-sizing: border-box;
}

.Menu {

}

.projects-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px 250px;
    gap: 15px;
}

.inner-block {
    border: 2px solid black;
}